#dv1 {
    padding : 20px;
    border-width: 1px;
    border-style: solid;
}

img  {
    float: left;
    margin-right: 11px;
}

#dv2 {
    border-style: unset;
    border-width: unset;
    padding: unset;
}

#dv3 {
    background-color: silver;
    margin: 10px;
}

.youpi {
    position: absolute;
    top : 110px;
    left : 110px;
    width: 450px;
    height: 450px;
}